
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<MVCMovieManager.Models.Movie>

@{
    ViewBag.Title = "Movie";

}

<h2>All Movies</h2>

<div>
    @Html.ActionLink("Create New", "Create")


    @{Html.RenderAction("Search_Partial", "Search", new { viewName="Movie"}); }


</div>

@using (Html.BeginForm("FormCollection", "Movie", FormMethod.Post))
{
    <table class="table">

        <tr>
            <th>
                Watched
            </th>
            <th>Watching</th>
            <th>

                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Seasons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Genre.GenreType)
            </th>
            <th></th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBox("watched_" + item.MovieId, item.Watched)
                </td>

                <td>
                    @Html.CheckBox("watchlist_" + item.MovieId, item.WatchList)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seasons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreType)
                </td>

                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Save Changes" />


    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

}

