@model MVCMovieManager.Models.Watched

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Watched</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Year)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Producer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Seasons )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Seasons)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Genre.GenreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Genre.GenreType) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Favourite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Favourite) 
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WatchedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
