@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MVCMovieManager.Models.WatchList>

@{
    ViewBag.Title = "Index";
}

<h2>Watching</h2>

<div>
    @Html.ActionLink("Create New", "Create")


    @{Html.RenderAction("Search_Partial", "Search", new { viewName = "WatchList" }); }


</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Rating )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Seasons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Genre.GenreType)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Producer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Seasons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Genre.GenreType)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.WatchListId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.WatchListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WatchListId })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
